.container--done{
    width: 40%;
    margin: 50px auto;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 5px #d3d3d3;
    background: #fff;
}
.container--done--message{
    display: inline-block;
    margin: 50px 0 25px 0;
    width: 100%;
}
.container--done--link{
    display: inline-block;
    color: #fff;
    background: #0000ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.container--done--link:hover{
    opacity: 0.5;
}
