.container--reservation {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.container__detail{
    display: inline-block;
    width: 40%;
    margin-top: 50px;
}
.container__detail--info{
    font-size: 14px;
    font-weight: bold;
}
.container__detail--overview{
    font-size: 15px;
    font-weight: bold;
}

.container__detail--back{
    display: inline-block;
    color: #000;
    font-weight: bold;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
}
.container__detail--back:hover{
    background: #000;
    color: #fff;
}
.container__detail--name{
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.container__detail--img{
    margin: 20px 0;
    width: 100%;
}
.container__detail--info{
    margin-bottom: 20px;
}
.container__detail--info > p{
    display: inline-block;
}
.container__detail--overview{
    display: inline-block;
}

.container__form{
    display: inline-block;
    width: 50%;
    background: #4169e1;
    border-radius: 5px;
    padding-top: 20px;
}

.container__form--name{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 15px;
}

.container__form--date{
    width: 50%;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.container__form--select{
    width: 90%;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
}


.container__form--button{
    width: 100%;
    color: #fff;
    background: #0000ff;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 50%;
}
.container__form--button:hover{
    opacity: 0.5;
}

.container__form--error{
    color: red;
    font-size: 10px;
    margin: 5px 10px;
}
