h1 {
    color: blueviolet;
}

.container--login {
    width: 40%;
    height: auto;
    border: solid 2px #000;
    border-radius: 10px;
    margin: 100px auto;
}

.container--login__title {
    background: #ffd700;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: #ffd700 1px solid;
    padding: 10px 10px;
    color: #fff;
}

.container--login__form {
    text-align: center;
    padding: 5px 20px;
}

.container--login__form__input {
    width: 100%;
    margin: 10px 0;
}

.container--login__form__input--text {
    width: 90%;
    border-bottom: 1px solid #000;
    border-right: none;
    border-left: none;
    border-top: none;
}

.icon--user {}

.icon--email {}

.icon--password {}

.container--login__form--button {
    display: inline-block;
    background: #ffd700;
    border-radius: 5px;
    padding: 3px 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 78%;
}
.container--login__form__input--error{
    color: red;
    font-size: 10px;
    margin: 5px 0;
}
